/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

body{
    max-width: 100%;
    overflow-x: hidden;
}
/*HEADER*/
ul.navbar-nav{
    float: right;
}
.logo > img{
    width: 32px;
}
@media screen and (max-width: 767px) {
    ul.navbar-nav{
        float: left;

    }
}

/*slider principal*/   
.block-views-blockslider-secundario-block-1{
    background: radial-gradient(black, transparent);
}
.slick--view--slider-principal h2.slide__title{
     position: absolute;
    top: 80px;
    left: 20px;
    font-size: xxx-large;
    font-weight: 700;
    color: wheat;
}
.slick--view--slider-principal .slide__overlay{
  position: absolute;
    top: 170px;
    left: 20px;
    color: white;
    font-size: x-large;
    width: 70%;
}
.slick--view--slider-principal .slide__link{
 position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    font-size: xx-large;
    border: solid 1px white;
    padding: 15px;
}
.slick--view--slider-principal .slide__link a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1000px) {
        .slick--view--slider-principal h2.slide__title{position: absolute;
            top: 25px;
            font-size:x-large;

        }
        .slick--view--slider-principal .slide__overlay{

            top: 80px;
            font-size: larger;
        }
        .slick--view--slider-principal .slide__link{
            top: 120px;
            font-size: x-large;
            border: solid 1px white;
            padding: 15px;
        }

}

@media screen and (max-width: 767px) {
        .slick--view--slider-principal h2.slide__title{position: absolute;
            top: 10px;
            font-size:x-large;

        }
        .slick--view--slider-principal .slide__overlay{

            top: 70px;
            font-size: smaller;
        }
        .slick--view--slider-principal .slide__link{
            top: 80px;
            font-size: medium;
        }

}
@media screen and (max-width: 500px) {
        .slick--view--slider-principal h2.slide__title{position: absolute;
            top: 10px;
            font-size:medium;

        }
        .slick--view--slider-principal .slide__overlay{

            top: 50px;
             font-size:xx-small;

        }
        .slick--view--slider-principal .slide__link{
            top: 90px;
            font-size: smaller;
            margin: auto;
            padding: 3px;

        }

}
/*FOOTER*/
footer{
    background-color: black;
    width: 100%;


}
.footer{
     padding-top: 5px;
     padding-bottom: 5px
}
div .region-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}
footer > div > nav > ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
ul .menu--footer2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.menu--footer2 .first {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    color: white;
  
}
.menu--footer2 .first .navbar-text{
    margin-right: 5px;
}
footer a{
    color: #fff;
}

.img_footer img{
    width: 32px;
}

ul li .active-trail{
    display: none;
}

@media screen and (max-width: 550px) {

        .footer{
                font-size: x-small;
            }
}


/*OBRAS LISTADO*/

.views-row .obras{
  margin: 20px 0px 20px 0px; 
 padding: 5px 0px 5px 0px; 
  border-top: solid 1px;
}
/*NODO OBRA FINAL*/

.field--name-field-descripcion{
    padding-top: 25px;
    width: 85%;
}

/*SLIDER SECUNDARIO*/

.block-views-blockslider-secundario-block-1 .block-title {
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
    }
.slick__arrow{
    top: -10%;
    }
#slick-views-slider-secundario-block-1-2-slider{
    transform:translateX(3%);
    }
div .slick__slide .views-field{
    color: white;
}
div .slick__slide .views-field-title {
    position: absolute;
    top: 40px;
    margin-left: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #0000008c;
 
}

div .slick__slide .views-field-body {    
    position: absolute;
    top: 70px;
    margin-left: 16px;
    font-weight: 700;
    text-transform: uppercase;
   
  
}
    div .slick__slide .views-field p{
           background-color: #0000008c;
        }        

div .slick__slide .views-field-field-enlace {    
    position: absolute;
    top: 180px;
    margin-left: 16px;
    color: white;  
}
div .slick__slide .views-field-field-enlace a {    
    color: white;    
    background-color: #0000008c;
    padding: 5px;
    border-radius: 13px;  
}

@media screen and (max-width: 767px) {

        #slick-views-slider-secundario-block-1-2-slider{
                transform:translateX(7%);
            }
        div .slick__slide .views-field-title {

            position: absolute;
            top: 40px;
            margin-left: 16px;

        }

        div .slick__slide .views-field-body {

            position: absolute;
            top: 70px;
            margin-left: 16px;

        }
        div .slick__slide .views-field-field-enlace {

            position: absolute;
            top: 120px;
            margin-left: 16px;

        }
        .slick__arrow{
                top: -6%;
        }
        
        .grid__content .slick__slide {
            
            width: 85%;
        }
        div .slick__slide .views-field{
            color: white;
            background-color: none;
        }
       div .slick__slide .views-field p{
            width: 80%;
         }        

}
/*@media screen and (max-width: 450px) {
    li .slide__grid {
        
        width: 85%;
    }
     
}*/
/**/