/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

/*HEADER*/
ul.navbar-nav{
    float: right;
}
.logo > img{
    width: 32px;
}
@media screen and (max-width: 767px) {
ul.navbar-nav{
    float: left;

}
}

/*slider principal*/

.slick--view--slider-principal h2.slide__title{
    position: absolute;
    top: 45px;
    left: 20px;
}
.slick--view--slider-principal .slide__overlay{
    position: absolute;
    top: 138px;
    left: 20px;
    color: white;
}
.slick--view--slider-principal .slide__link{
    position: absolute;
    top: 225px;
    left: 20px;
    color: white;
}
.slick--view--slider-principal .slide__link a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 767px) {
.slick--view--slider-principal h2.slide__title{position: absolute;
    top: 10px;
    font-size:x-large;

}
.slick--view--slider-principal .slide__overlay{
   
    top: 70px;
    font-size: smaller;
}
.slick--view--slider-principal .slide__link{
    top: 170px;
}

}
/*FOOTER*/
footer{
    background-color: #777;
    width: 100%;


}
.footer{
     padding-top: 5px;
     padding-bottom: 5px
}
div .region-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}
footer > div > nav > ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
ul .menu--footer2{
        display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.menu--footer2 .first {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    color: white;
  
}
.menu--footer2 .first .navbar-text{
    margin-right: 5px;
}
footer a{
    color: #fff;
}

/*OBRAS LISTADO*/

.views-row .obras{
  margin: 20px 0px 20px 0px; 
 padding: 5px 0px 5px 0px; 
  border-top: solid 1px;
}

/*SLIDER SECUNDARIO*/
  .block-views-blockslider-secundario-block-1 .block-title {
    font-weight: 900;
    text-align: center;
    font-size: xx-large;
    }
    .slick__arrow{
        top: -10%;
    }
    #slick-views-slider-secundario-block-1-2-slider{
        transform:translateX(4%);
    }
div .slick__slide .views-field{
    color: white;
}
div .slick__slide .views-field-title {
    
    position: absolute;
    top: 40px;
    margin-left: 16px;

}

div .slick__slide .views-field-body {
    
    position: absolute;
    top: 70px;
    margin-left: 16px;
  
}
div .slick__slide .views-field-field-enlace {
    
    position: absolute;
    top: 180px;
    margin-left: 16px;
    color: white;
  
}
div .slick__slide .views-field-field-enlace a {
    
    color: white;
  
}
@media screen and (max-width: 767px) {
div .slick__slide .views-field-title {
    
    position: absolute;
    top: 40px;
    margin-left: 16px;

}

div .slick__slide .views-field-body {
    
    position: absolute;
    top: 70px;
    margin-left: 16px;
  
}
div .slick__slide .views-field-field-enlace {
    
    position: absolute;
    top: 120px;
    margin-left: 16px;
  
}
}
/**/