/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

/*HEADER*/
ul.navbar-nav{
    float: right;
}
.logo > img{
    width: 32px;
}
@media screen and (max-width: 767px) {
ul.navbar-nav{
    float: left;

}
}

/*slider principal*/

.slick--view--slider-principal h2.slide__title{position: absolute;
    top: 80px;
    left: 20px;
}
.slick--view--slider-principal .slide__overlay{
    position: absolute;
    top: 138px;
    color: white;
}
.slick--view--slider-principal .slide__link{
      position: absolute;
    top: 225px;
    color: white;
}
/*FOOTER*/
footer{
    background-color: #777;
    width: 100%;

}
.footer{
         padding-top: 5px;
     padding-bottom: 5px
}
div .region-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}
footer > div > nav > ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
ul .menu--footer2{
        display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
footer a{
    color: #fff;
}

